html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  min-width: 1280px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main-nav {
  position: relative;

  font-weight: 600;
  color: #000000;
  background-color: #ffffff;
}

.logo {
  position: absolute;

  width: 138px;
  left: 531px;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav-item {
  width: 240px;
  padding: 17px 0 17px 0;
}

.site-nav a {
  color: #000000;
}

.site-nav a:hover {
  color: #81b3d2;
}

.site-nav a:focus {
  opacity: 0.3;
}

.site-nav a:active {
  color: #766357;
}

.site-nav .current {
  color: #766357;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main-heading {
  display: flex;
  flex-direction: column-reverse;
  min-height: 508px;
  background-image: url("../img/intro-welcome.svg"), url("../img/bg.jpg");
  background-size: 458px 352px, 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 30%, 100% 100%;
}

.main-heading-wrapper {
  color: #000000;
  background-color: #ffffff;
}

.main-heading-wrapper h2 {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
}

.main-heading-wrapper p {
  margin: 0;
  line-height: 26px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-top {
  display: flex;
}

.feature-top-desc {
  width: 400px;
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-top-desc h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 600;
}

.feature-top-image {
  width: 800px;
  /*flex-grow: 1;*/
  background-repeat: no-repeat;
}

.image-top {
  background-image: url("../img/places-1.jpg");
}

.image-bottom {
  background-image: url("../img/places-2.jpg");
}

.feature-item {
  width: 400px;
  background-color: #ffffff;
}

.feature-item-bg {
  background-color: #eeeeee;
}

.feature-item h3 {
  font-weight: 600;
  color: #000000;
}

b {
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: #000000;
}

.search-desc {
  line-height: 24px;
}

.interest {
  background-color: #ffffff;
}

.hotel-search {
  width: 568px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.form-show {
  display: inline-block;
  font: inherit;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding: 20px 140px 20px 138px;
  color: #ffffff;
  cursor: pointer;

  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: #766357;
}

.form-show:hover {
  background-color: #604e43;
}

.form-show:focus {
  background-color: 503e33;
  opacity: 0.3;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  padding: 60px 55px;
  color: #000000;
}

.form-wrapper-date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  width: 458px;
  margin-bottom: 30px;
}

.form-wrapper-date label {
  padding-top: 6px;
}

.form-wrapper-people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 229px;
  margin-bottom: 54px;
  font-size: 0;
}

.form-wrapper-people label {
  font-size: 14px;
  line-height: 26px;
  padding-top: 6px;
}

.form-wrapper-people .young-padding {
  padding-left: 52px;
}

.form-wrapper-date input[type="text"],
.form-wrapper-people input[type="text"] {
  box-sizing: border-box;
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 0;
}

.form-wrapper-date input[type="text"] {
  width: 346px;
  padding: 6px 10px;
  padding-right: 40px;
}

.form-wrapper-people input[type="text"] {
  width: 38px;
  padding: 6px 10px;
  text-align: center;
}

.form-wrapper-people input[type="button"] {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding: 0;
  border: 0;
  background-color: #f2f2f2;
  cursor: pointer;
  vertical-align: bottom;
}

.form-wrapper-date input[type="text"]:hover,
.form-wrapper-people input[type="text"]:hover,
.form-wrapper-people input[type="button"]:hover {
  background-color: #ebebeb;
}

.form-wrapper-date input[type="text"]:focus,
.form-wrapper-people input[type="text"]:focus,
.form-wrapper-people input[type="button"]:focus {
  background-color: #ffffff;
}

/*Иконки календаря и плюсы-минусы*/
.date-choice {
  background-image: url("../img/calendar.svg");
  background-position: 317px center;
  background-repeat: no-repeat;
}

.blue-btn {
  display: inline-block;
  width: 100%;
  padding: 14px 0;

  font: inherit;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.blue-btn:hover {
  background-color: #669ec0;
}

.blue-btn:active {
  background-color: #5496bd;
  opacity: 0.3;
}

.map {
  width: 1200px;
  height: 593px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f9fbf6;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.footer-catalog {
  background-color: #fefefe;
}

.footer-link {
  display: flex;
  align-items: center;
  width: 150px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
  color: #000000;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 150px;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social a:hover {
  background-color: #669ec0;
}

.social a:active {
  background-color: #5496bd;
}

.social a:active path {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.footer-copyright a {
  line-height: 26px;
  color: #000000;
}

.icon-academy {
  width: 115px;
  height: 41px;
}

.icon-academy:hover path {
  fill: #81b3d2;
}

.icon-academy:active path {
  fill: #bdbbbc;
}

/*

*/
/*Начало стилей для каталога*/

.form-check {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  background-image: url("../img/bg-catalog1.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
}

.form-check fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  margin-left: 72px;
}

.form-check ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 31px;
}

.form-check li {
  padding-bottom: 30px;
  padding-left: 40px;
}

.form-checkboxes {
  width: 200px;
}

.form-filter {
  width: 350px;
}

legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  padding-top: 29px;
  padding-bottom: 26px;
}

.legend-filter {
  padding-bottom: 9px;
}

.form-checkboxes label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.form-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;

  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.form-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;

  width: 26px;
  height: 26px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.form-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;

  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
}

.form-input-checkbox:checked:disabled + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;

  width: 26px;
  height: 26px;
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
}

/*Фильтр с ползунками*/
.form-calc {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.form-calc::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.form-calc label {

}

.form-calc .min-price,
.form-calc .max-price {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
  width: 90px;
  padding-left: 65px;
}

.form-calc input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.form-btn {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.form-btn:hover {
  color: #000000;

  background: #ffffff;
}

.form-sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fefefe;
  border-bottom: solid 1px #e5e5e5;
}

.form-sort-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.form-result {
  padding-top: 24px;
  padding-bottom: 24px;
}

.form-result span {
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
  color: #000000;
  margin-left: 72px;
}

.form-sort-check {
  display: flex;
  flex-wrap: wrap;
  padding-top: 28px;
  padding-bottom: 28px;
}

.form-sort-check span {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  margin-left: 50px;
}

.form-sort-check ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 40px;
}

.form-sort-text {
  font-size: 12px;
  line-height: 18px;
  margin-right: 34px;
}

.form-sort-a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 2px dotted #81b3d2;
}

.form-sort-a:hover {
  color: #81b3d2;
  border-bottom: 2px dotted #81b3d2;
}

.form-sort-a:active {
  color: #000000;
}

.form-sort-current {
  color: #81b3d2;
  border: none;
}

.form-sort-current:hover {
  border: none;
}

.form-sort-current:active {
  color: #81b3d2;
}

.form-result-order {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 34px;
  margin-right: 73px;
}

.form-result-order-top,
.form-result-order-down {
  width: 11px;
}

.form-result-order-top path,
.form-result-order-down path {
  fill: #cacaca;
}

.form-result-order-top:hover path,
.form-result-order-down:hover path {
  fill: #000000;
}

.form-result-order-top:active path,
.form-result-order-down:active path {
  fill: #81b3d2;
}

.form-result-order-current path {
  fill: #81b3d2;
}

.hotel-catalog {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fefefe;
}

.hotel-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: solid 1px #e5e5e5;
}

.hotel-item:last-child {
  border: none;
}

.hotel-catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.hotel-desc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  order: 1;
  margin-left: 30px;
}

.hotel-desc h3 {
  margin: 0;
  margin-bottom: 13px;
  margin-top: 25px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
  color: #000000;
}

.hotel-desc-heading {
  color: #000000;
}

.hotel-type {
  margin-bottom: 16px;
}

.hotel-type span {
  color: #333333;
}

.hotel-photo {
  margin: 0;
  width: 135px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hotel-more {
  display: flex;
  flex-wrap: wrap;
}

.more-btn {
  font-weight: 600;
  color: #ffffff;
  padding: 5px 17px;
  background-color: #81b3d2;
}

.order-btn {
  font-weight: 600;
  color: #ffffff;
  padding: 5px 17px;
  margin-left: 6px;
  background-color: #766357;
}

